.form {
  position: relative;
  display: flex;
  align-items: center;
}

.form__label {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1.2rem;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.2;
  opacity: 0;
  pointer-events: none;

  @media (min-width: $stop-scaling) {
    margin-bottom: 12px;
    font-size: 16px;
  }

  @media (orientation: portrait) {
    opacity: 1;
    pointer-events: auto;
  }
}

.form__field {
  $focusBoder: 1px solid $c-purple;

  &__wrapper {
    flex: none;
    margin-right: 3rem;
    height: 6rem;
    width: calc(100% - 21rem);
    margin-left: auto;
    position: relative;

    &:focus-within {
      .form__field {
        &__left .form__field__side {
          border-top: $focusBoder;
          border-left: $focusBoder;
          border-bottom: $focusBoder;
        }

        &__right {
          border-top: $focusBoder;
          border-right: $focusBoder;
          border-bottom: $focusBoder;
        }

        &__center {
          border-top: $focusBoder;
          border-bottom: $focusBoder;
        }
      }
    }
  }

  &__side {
    $widthOfSideWithIncrement: calc(3rem + 1px);
    position: absolute;
    width: $widthOfSideWithIncrement;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    transition: transform $long-duration ease-in-out;
  }

  &__left {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    transform: translateX(calc(100% - 6rem));
    transition: transform $long-duration ease-in-out;

    .form__field__side {
      border-radius: 3rem 0 0 3rem;
    }
  }

  &__center {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 3rem;
    padding: 0 2.6rem;
    text-transform: uppercase;
    font: inherit;
    font-size: 2.4rem;
    line-height: 1.2;
    color: $c-dark;
    border: 0;
    width: calc(100% - 6rem);
    transform: scaleX(0);
    transform-origin: right;
    outline: none;
    transition: transform $long-duration ease-in-out;
  }

  &__right {
    border-radius: 0 3rem 3rem 0;
    right: 0;
  }

  .screen.active & {
    &__left {
      transform: translateX(0);

      .form__field__side {
        transform: translateX(0);
      }
    }

    &__center {
      transform: scaleX(1);
    }
  }

  @media (min-width: $stop-scaling) {
    &__wrapper {
      margin-right: 30px;
      height: 60px;
      width: calc(100% - 210px);
    }

    &__left {
      border-radius: 30px 0 0 30px;
    }

    &__center {
      padding: 0 calc(56px - 3rem);
      font-size: 24px;
    }

    &__right {
      border-radius: 0 30px 30px 0;
    }
  }

  @media (orientation: portrait) {
    &__wrapper {
      margin-right: 1rem;
      height: 4rem;
      width: calc(100% - 5rem);
    }

    &__side {
      $widthOfSideWithIncrement: calc(2.5rem + 1px);
      width: $widthOfSideWithIncrement;
    }

    &__left {
      transform: translateX(calc(100% - 5rem));
    }

    &__center {
      right: 2.5rem;
      padding: 0;
      font-size: 1.6rem;
      width: calc(100% - 5rem);
    }
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    &__wrapper {
      width: calc(100% - 9rem);
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    &__wrapper {
      margin-right: 1rem;
      height: 4rem;
      width: calc(100% - 5rem);
    }

    &__side {
      $widthOfSideWithIncrement: calc(2.5rem + 1px);
      width: $widthOfSideWithIncrement;
    }

    &__left {
      transform: translateX(calc(100% - 5rem));
    }

    &__center {
      right: 2.5rem;
      padding: 0;
      font-size: 1.6rem;
      width: calc(100% - 5rem);
    }
  }
}

.form__button {
  @media (orientation: portrait) {
    position: relative;
    flex: none;
    padding: 0;
    width: 4rem;
    height: 4rem;
    font-size: 0;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    position: relative;
    flex: none;
    padding: 0;
    width: 6rem;
    height: 6rem;
    font-size: 0;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    width: 4rem;
    height: 4rem;
  }

  svg {
    @include center;
    display: none;
    width: 1.6rem;
    height: 1.8rem;

    @media (min-width: $stop-scaling) {
      width: 16px;
      height: 18px;
    }

    @media (orientation: portrait) {
      display: block;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      display: block;
    }
  }
}

.form--result {
  .form__field {
    width: calc(100% - 31rem);

    @media (min-width: $stop-scaling) {
      width: calc(100% - 310px);
    }

    @media (orientation: portrait) {
      width: calc(100% - 5rem);
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: calc(100% - 9rem);
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: calc(100% - 5rem);
    }
  }
}
